body {
    background-color: black;
    color: white;
}

li{
    color: transparent;
}

.headerMobile {
    display: none;
}

.Dropdowncontent {
    display: none;
}

.checkbox {
    display: none;
}

header {
    background-image: url(../img/witcher-background.jpg);
    background-size: 100%;
    border-radius: 20px;  
}

header>nav>.headerDesktop {

    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

}

header>nav>.headerDesktop>.img>a>img {
    height: 75px;
}

header > nav > .headerDesktop > .Menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Menu > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 30px 0 30px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}

.Menu > a > img{
    height: 25px;
}

header > nav > .headerDesktop > .Data{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Data > a{
    margin: 0px 50px 0px 50px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {

    header>nav>.headerDesktop {
        display: none;
    }

    header>nav>.headerMobile {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header>nav>.headerMobile>a>img {
        height: 60px;
    }

    header>nav>.headerMobile>ul>li>label>img {
        height: 50px;
    }


    #Game:checked~.Dropdowncontent {
        display: block;
        display: flex;
        flex-direction: column;
    }

    #Game:checked~.Dropdowncontent>a {
        color: white;
        text-decoration: none;
        margin: 5px;
    }

}